@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Pirata+One&display=swap');


/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    color: white;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    line-height: 1.4;
    letter-spacing: 4px;
    font-size: 24px;
    background: url(../images/Purple\ Landscape.png) fixed center;
    background-image: url(../images/Purple\ Landscape.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



img,
video,
audio,
iframe {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
    display: block;
    border-style: ridge;
    border-width: 8px;
    border-color: #AD91DD;
}


/* ------------------- HEADINGS AND TYPE */


h1,
h2,
h3,
h4,
h5 {
    color: white;
    text-align: center;
    font-family: 'Pirata One', 'Franklin Gothic Medium';
    letter-spacing: 7px;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 55px;
}

h4 {
    font-size: 40px
}

h5 {
    font-size: 35px
}


a {
    padding: 2%;
    background-color: rgba(10, 10, 10, .7);
    border-radius: 10px;
    border-style: ridge;
    border-color: #AD91DD;
    border-width: 5px;
    line-height: 1;
    font-size: 30px;
    color: #AD91DD
}

a:hover {
    color: #c1dd91
}

a:visited {
    color: #c1dd91;
}

ul,
li {
    text-align: left;
    list-style-position: left;
}


/* -------------------- LAYOUTS */

.layout-wide {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}


@media screen and (min-width: 600px) {

    .layout-wide {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
    }

    .four-col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .three-col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px
    }
}


/* -------------------- QUICKVIEW */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper a {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(10, 10, 10, .5);
    padding: 15px;
    border-radius: 10px;
    color: #AD91DD;
}

.modal,
.modal2,
.modal3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 1;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal2:target {
    visibility: visible;
    opacity: 1;
}

.modal3:target {
    visibility: visible;
    opacity: 1;
}

.modalcontent,
.modalcontent2,
.modalcontent3 {
    position: relative;
    background: #AD91DD;
    width: 500px;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 10px;
}

.modalclose,
.modalclose2,
.modalclose3 {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    text-decoration: none;
    font-size: 36px;

}


/* -------------------- FOOTER */

.home {
    padding: 0;
    position: fixed;
    bottom: 4.5%;
    right: 0;
    left: 0;
}