@import url("normalize.css");



/* -------------------- GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

body {
    background-color: #5A38C7;
}


/* -------------------- HEADINGS AND TYPE */


h1,
h2,
h3,
h4,
h5,
p,
li,
summary,
cite,
a {
    color: white;
    text-align: center;
}


/* -------------------- LAYOUTS */

.layout-wide {
    background-color: rgb(10, 10, 10);
max-width: 1300px;
margin-left: auto;
margin-right: auto;
padding: 3%
}


/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */